---
layout: layouts/home.njk
eleventyNavigation:
  permalink: /contact/
  key: Contact
  order: 2
---

<form netlify>
  <div>
    <label for="username">Username:</label>
  <input type="text" id="username" name="username"></div>
  <div>
    <label for="email">E-Mail:</label>
    <input type= "email" id="email" name="email">
  </div>
  <div>
    <label for="pass">Password:</label>
    <input type="password" id="pass" name="password">
    </div>
    <div>
      <label for="phone">Telephone Number:</label>
      <input type="tel" id="phone" name="phone">
    </div>
  <div>
    <label for="dop">Date of Purchase:</label>
    <input type="date" id="dop" name="dateOfPurchase">
  </div>
  <div>
    <label for="mailer-01">News</label>
    <input type="checkbox" id="mailer-01" name="news">
      <label for="mailer-02">Offers</label>
      <input type="checkbox" id="mailer-02" name="offers">
      <br>
      <input type="submit" value="Sumbit" ></input>
      <input type="reset" value="Reset"></input>
  </div>
      
                                         
</form>
