---
layout: layouts/home.njk
eleventyNavigation:
  permalink: /contact/
  key: Contact
  order: 2
---

<form netlify>
  <div>
    <label for="firstname">First Name:</label><br>
  <input type="text" id="firstname" name="First_Name"></div>
  <div>
    <label for="lastname">Surname(s):</label><br>
    <input type= "text" id="lastname" name="Last_Name">
  </div>
  <div>
    <label for="email">E-mail:</label><br>
    <input type="email" id="email" name="email">
    </div>
   <div>
   <label for="message">Your Message:</label><br>
   <textarea id="message" name="message" rows="4" cols="40" placeholder="Please type in your message here...">
   </textarea>
   </div>
   <br>
  <div>
    <input type="checkbox" id="terms" name="terms_agree" required>
    <label for="terms">By clicking this box I agree to the terms and conditions.</label>
    <br>
    <br>
    <input type="submit" value="Sumbit" ></input>
    <input type="reset" value="Reset"></input>  
  </div>
      
                                         
</form>
